main {
  display: flex;
  background: #ff7a00;
}

main div.content {
  display: flex;
  justify-content: space-between;
  flex: 1;

  max-width: 1344px;
  margin-left: 20rem;

  padding-top: 5rem;
}

div.content h1 {
  font-size: 2.5rem;
  width: 30rem;
  line-height: 3rem;
  color: white;
}

div.content h2 {
  font-weight: normal;
  width: 35rem;
  color: white;
  margin-top: 2rem;
}
